
b {
    color: white;
}

QWidget {
    color: #DDD;
    font-family: "DM Mono";
    font-size: 20px;
    margin: 0;
}

QPushButton {
    color: #023;
    padding: 0px 12px 4px 12px;
    text-align: center;
    background: bisque;
    border-radius: 10px;
    border: #CCCCCC 2px solid;
}

QPushButton:hover {
    background: #dfeaae;
}

QPushButton:pressed {
    color: white;
    background: black;
}

QProgressBar {
    background-color: #777;
    border-radius: 10px;
}

QProgressBar::chunk {
    background-color: #dfeaae;
    border-radius: 10px;
}

QLabel#header {
    color: #777;
    text-align: center;
    margin-left: 4px;
}

QWidget#mainLayout {
    padding: 8px;
    background-color: #505456;
    border-radius: 10px;

}

QLabel#descLabel {
    font-size: 20px;
    color: #888888;
    margin-bottom: 10px;
}

QWidget#cameraWidget {
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
}
